body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: sans-serif;
}

.game{
	text-align: center;
	position: relative;
	display: none;
}

canvas{
	display: block;
	margin: 0 auto;
	background-color: white;
	border: 1px solid black;
}

button{
	margin: 5px;
}

.game-over{
	display: none;
	position: absolute;
	top: 40%;
	left: 30%;
	font-size: 48px;
	color: red;
	padding: 20px;
}

/*메인 화면*/
.main_page{
	position: relative;
 	width: 100vw;
  	height: 100vh;
  	overflow: hidden;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/*로고*/
#logo-heart{
    width: 28vw;
    /*border: black 1px solid;*/
    position: absolute;
    top: 10vw;
    left: 4vw;
    transform: rotate(-15deg);
}
#logo-circle{
    width: 17vw;
    /*border: black 1px solid;*/
    position: absolute;
    top: 25vw;
    left: 30vw;
    transform: rotate(10deg);
}
#logo-shavedice {
    width: 50vw;
    /*border: black 1px solid;*/
    position: absolute;
    top: 3vw;
    left: 35vw;
}

/*메인메뉴*/
.main-button{
    position: absolute;
    width: 20vw;
    /*border: black 1px solid;*/
    bottom: 5vh;
    right: 7vw;
}
.main-button button {
  background-color: rgb(255,43,135);
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  /*position: relative;*/
  width: 20vw;
  height: 5vh;
  margin-bottom: 2.5vh;
}
.main-button button:last-child{margin-bottom: 0;}
.main-button span {
  display: block;
  color: white;
  font-size: 2vh;
}

/*환경설정*/
#setting {
    background: linear-gradient(to right, rgb(255,242,248), rgb(255,126,182));
    position: absolute;
    bottom: 5vh;
    left: 3vw;
    border: 1px solid rgb(255,43,135);
    border-radius: 25px;
    cursor: pointer;
    width: 10vw;
    height: 4vh;
}

#setting span {
  display: block;
  color: black;
  font-size: 2vh;
}

/*버튼창*/
.menu{display: none;}

.back-button{
    position: absolute;
    width: 5vw;
    bottom: 3vh;
    left: 3vw;
    cursor: pointer;
}
.menu-logo{
    position: absolute;
    height: 10vh;
    top: 3vh;
    left: 3vw;
}
/*게임 방법*/
#How-text{
    text-align: center;
}
#How-text p{
    margin: 0;
}
#How-text > p:nth-of-type(odd) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,43,135);
    color: white;
    font-weight: 700;
    padding: 0 1.5vw;
    border-radius: 25px;
    text-align: center;
    height: 2.5vw;
    line-height: 2.5vw;
    margin-bottom: 2vw;
    font-size: medium;
}
#How-text > p:nth-of-type(even){
    font-weight: 700;
    line-height: 5vh;
    margin-bottom: 5vw;
    font-size: large;
}
#How-text p:last-of-type{
    margin-bottom: 0;
}

/*레시피*/
.Recipe-menu{
    width: 80vw;
    height: 70vh;
    top: 30vh;

    display: flex;              /* flex 컨테이너 */
    justify-content: center;    /* 가로 중앙 정렬 */
    align-items: center;        /* 세로 중앙 정렬 */
}

#Recipe-stage1, #Recipe-stage2, #Recipe-stage3 { /*div별 줄 정렬*/
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#Recipe-stage1, #Recipe-stage2{
    margin-bottom: 1vw;
}

.Recipe-stage{ /*화면 크기*/
    display: block;
}
.Recipe-img{ /*가로정렬*/

    padding: 1vw;
    margin: 0 2vw;

    display: flex;           
    justify-content: center; 
    flex-wrap: wrap; 
    flex-direction: row; 
    width: 20vw;
}
.Recipe-img p:first-child {
    margin-bottom: 1vh;
    padding: 0.5vw;
    width: 100%;
    text-align: center; 
    flex-basis: 100%;
    border-bottom: 1px solid rgb(255,43,135);
    color: rgb(255,43,135);
    font-weight: 700;
    font-size: large;
}
.img-box{
    width: 4vw;
    height: 4vw;
    background-color: white;
    border: 2px solid rgb(255,43,135);
    border-radius: 15px;
    text-align: center;
    margin: 0.5vw 0.25vw;
    padding: 0.7vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    vertical-align: middle;
}
#Recipe-stage3 .Recipe-img > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500
}
#Recipe-stage3 .Recipe-img > div p{
    margin: 0.5vw 0;
}

/*설정 화면*/
.option-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.ball-container{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ball-icon {
  	width: 80px;
  	height: 80px;
  	margin-bottom: 40px;
}

.setting-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  	margin-top: 10px;
  	font-size: 20px;
  	color: black;
}

.setting-option p{
    text-align: center;
    margin: 0;
}

.setting-option input[type="range"] {
  	width: 300px;
  	margin-top: 10px;
}

.setting-option label{
    margin-top: 20px;
    text-align: center;
}


/*난이도 선택 화면*/

.level-buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	gap: 300px;
}

#level1:hover { content: url("../imgs/logo/1_h.png"); transform: scale(1.1);}
#level2:hover { content: url("../imgs/logo/2_h.png"); transform: scale(1.1); }
#level3:hover { content: url("../imgs/logo/3_h.png"); transform: scale(1.1); }

.level-btn {
  width: 110px;       
  height: 160px;     
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}



